<mat-card class="luck-card">
  <mat-card-header>
    <mat-card-title>Sorte</mat-card-title>
    <mat-card-subtitle>Marque a caixa de Sorte para alterar uma rolagem para 12 ou para evitar todo o dano de um ferimento.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="rating">
      <span class="rating__label rating__label--first">Salvo</span>
      <app-rating
        [max]="7"
      ></app-rating>
      <span class="rating__label rating__label--last">Condenado</span>
    </div>
  </mat-card-content>
</mat-card>
