<mat-card class="actions-card">
  <mat-card-content>
    <div
      aria-labelledby="actions-radio-group-label"
      class="actions-radio-group">

      <div class="actions-group" *ngFor="let attribute of attributes; index as i;">
        <span class="actions-description">{{descriptions[i]}}</span>
        <app-action-circle
          color="blue"
          [number]="values[attribute.value]"
        ></app-action-circle>
        <span class="actions-attribute">{{attribute.name}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
