<section class="appearance">
  <mat-form-field appearance="fill" class="appearance__form-field">
    <mat-label>Gênero</mat-label>
    <mat-select>
      <mat-option *ngFor="let gender of genders" [value]="gender">
        {{gender}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="appearance__form-field">
    <mat-label>Olhos</mat-label>
    <mat-select>
      <mat-option *ngFor="let eye of eyes" [value]="eye">
        {{eye}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="appearance__form-field">
    <mat-label>Roupas</mat-label>
    <mat-select>
      <mat-option *ngFor="let cloth of cloths" [value]="cloth">
        {{cloth}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section>
