<section class="combat-magic">
  <p>
    Você tem alguns feitiços de ataque que pode usar como armas. Quando você usar estes feitiços para partir pra porrada, role <strong>+Estranheza</strong> em vez de <strong>+Braveza</strong>.
  </p>
  <p>
    Algumas vezes a situação pode fazer você agir sob pressão para que o feitiço seja lançado sem problemas.
  </p>

  <br>

  <p>
    Escolha três opções da lista abaixo. Seus feitiços combativos podem combinar qualquer base com qualquer efeito
  </p>

  <br>

  <h3>Magia combativa (escolha três, tendo pelo menos uma base):</h3>
</section>
