@import '~@angular/material/theming';

@include mat-core();

$default-margin: 0.8rem;
$primary: mat-palette($mat-blue);
$color: mat-color($primary);

.damage-card {
  .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    span {
      font-weight: bold;
      font-size: 12px;
    }

    span:first-of-type {
      margin-right: 0.5rem;
    }

    span:last-of-type {
      margin-left: 0.5rem;
    }
  }

  .unstable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .damage-tooltip {
    cursor: pointer;
    color: $color;
    font-weight: bold;
  }
}
