<section class="classification">
  <label id="classification-radio-group-label" class="classification-label">Escolha uma linha</label>
  <mat-radio-group
    aria-labelledby="classification-radio-group-label"
    class="classification-radio-group"
    [(ngModel)]="currentValue"
    (change)="onClassificationChanged()">
    <mat-radio-button class="classification-radio-button" *ngFor="let classification of classifications" [value]="classification.value">
      {{classification.label}}
    </mat-radio-button>
  </mat-radio-group>
</section>
