.classification {
  padding-top: 30px;

  .classification-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .classification-radio-button {
    margin: 5px;
  }

  .classification-label {
    font-weight: bold;
  }
}
